{% if is_granted('ROLE_INSTRUCTEUR') %}
	{{ form_start(form) }}<h1>
		Création d'une nouvelle formation
	</h1><br/>
	{{ form_label(form.titre, 'Titre') }}<br/>
	{{ form_widget(form.titre) }}<br/><br>
	{{ form_label(form.description, 'Description') }}<br/>{{
    form_widget(form.description, {'attr': {'class': 'mx-auto form-control', 'style': 'width: 40%; height: 10em', 'value': "Vous avez la possibilité de 
	<em>mettre en forme votre texte avec du code HTML.</em> <strong>Tout abus sera sévèrement sanctionné (tout élément indésirable de manière générale).</strong> 
	Si vous ne savez pas coder en HTML/CSS, vous pouvez toujours trouver un traducteur de code tel que Dreamweaver"}})
	  }}<br>
	<br/>{{ form_label(form.image, 'Image') }}<br/>{{ form_widget(form.image) }}<br/>
	<input type="hidden" id="step" name="step" value="1"/>
	<button class="btn btn-primary mt-2" type="submit">Soumettre</button>
	{{ form_widget(form._token) }}{{
    form_end(form,
      {
        render_rest: false
      }
    )
  }}
{% endif %}
