{% extends 'index.html.twig' %}
{% block main %}
	<div class="container p-3 text-center">
		<nav class="navbar navbar-expand-lg navbar-light bg-black">
			<div class="container-fluid">
				<form class="d-flex  mx-auto">
					<input class="form-control me-2" type="search" placeholder="Rechercher une formation" aria-label="Search">
					<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
					<label class="btn btn-outline-primary" for="btnradio1">Rechercher une formation</label>
					{% if is_granted('ROLE_USER') %}
						<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
						<label class="btn btn-outline-danger" for="btnradio2">Formations en cours</label>

						<input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
						<label class="btn btn-outline-success" for="btnradio3">Formations terminés</label>
					{% endif %}
				</div>
			</form>
		</nav>
	</div>
	<div class="card-group">
		{% for formation in formations %}
			<a href="{{ path('app_formation_show', {'id': formation.id}) }}">
				<div class="card p-3">
					<div class="card-body text-center">
						<img src="{{ asset('build/uploads/photos/')}}{{ formation.image }}" class="img-fluid img-thumbnail imgFormation" alt="{{ formation.titre}}">
						<h2 class="card-title ">{{ formation.titre}}</h2>
						<p class="card-text">{{ formation.description }}</p>
					</div>
				</div>
			</a>
		{% endfor %}
	</div>
	{% if formations is same as(null) %}
		<tr>
			<td colspan="6">Aucune formation pour le moment</td>
		</tr>
	{% endif %}
{% endblock %}
