{% extends 'index.html.twig' %}
{% block main %}
	<h1>Formations</h1>
	<hr>
	{% for formation in formations %}
        
		<div class="col-lg-4">
			<div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
				<img src="{{ asset('build/uploads/photos/')}}{{ formation.image }}" width="150" height="auto" title="{{ formation.titre}}"/>
				<h3>{{ formation.titre }}</h3>
				<p class="lead mb-0">{{ formation.description }}</p>
				<br>
				{% if app.user.isVerified is defined %}
					{% if app.user.isVerified is same as(true) %}
						Etat d'avancement : {{ formation.learnState }}<br>
					{% endif %}
				{% endif %}
				{% if is_granted ('ROLE_USER') %}
					<a href="{{ path('app_formation_show', {'id': formation.id}) }}">Voir</a>

					{% if app.user.isPostulantVerified is defined %}
						{% if app.user.isPostulantVerified is same as(true) %}
							{% if formation.auteur is same as(app.user) %}
								-
								<a href="{{ path('app_formation_edit', {'id': formation.id}) }}">Editer</a>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %}


			</div>
		</div>

	{% endfor %}


	{% if formations is same as(null) %}
		<tr>
			<td colspan="6">Aucune formation pour le moment</td>
		</tr>
	{% endif %}
	{% if is_granted('ROLE_INSTRUCTEUR') %}
		<a href="/formation/new?step=0">Créer une nouvelle formation</a>
	{% endif %}
{% endblock %}

