{% extends 'index.html.twig' %}
{% block main %}
  {% if p is defined and (p == 0 or p is same as(null)) %}
    {% include 'navusers.html.twig' %}
  {% endif %}
  {% if p is defined and p == 1 %}
    {% if is_granted('ROLE_INSTRUCTEUR') %}
      {% include 'navformateurs.html.twig' %}
    {% endif %}
  {% endif %}
  <section class="container bg-black">
    <div class="row align-items-start my-auto py-auto" id="results">
      {% for formation in formations %}
        {% if is_granted('ROLE_USER') and formation.learnState == 1 %}
          {% set name = 'finished' %}
        {% elseif is_granted('ROLE_USER') and formation.learnState == 2 %}
          {% set name = 'enCours' %}
        {% else %}
          {% set name = 'unStarted' %}
        {% endif %}
        <div class="col-3 mx-auto  {{ name }} ">
          <img src="{{ asset('build/uploads/photos/') }}{{ formation.image }}"
            class="imgFormation"
            alt=" {{ formation.titre }} " />
          <h2 class="fs-2">
            {{ formation.titre }}
          </h2>
          <p class="fs-5">
            {% set description = formation.description|raw %}
            {{ description|length > 70 ? description|slice(0,70) ~ '...' : description }}
          </p>
          {% if is_granted('ROLE_USER') and formation.learnState == 0 %}
            <a href="{{
              path(
                'app_formation_show',
                {
                  id: formation.id
                }
              )
              }}">
              <button class="btn btn-primary">Suivre</button>
            </a>
          {% elseif is_granted('ROLE_USER') and formation.learnState == 2 %}
            <a href="{{
              path(
                'app_formation_show',
                {
                  id: formation.id
                }
              )
              }}">
              <button class="btn btn-primary">Continuer</button>
            </a>
          {% elseif is_granted('ROLE_USER') and formation.learnState == 1 %}
            <a href="{{
              path(
                'app_formation_show',
                {
                  id: formation.id
                }
              )
              }}">
              <button class="btn btn-primary">Formation terminé</button>
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
