{% extends 'index.html.twig' %}
{% block main %}
	{% include 'navusers.html.twig' %}
	<h2>{{ formation.titre }}</h2><br>
	<p>{{ formation.description|raw }}</p>
	<br><img class='imgFormation' src="{{ asset('build/uploads/photos/')}}{{ formation.image }}" width="150" height="auto" title="{{ formation.titre}}" alt="{{ formation.titre}}"/><br><br>

	<ul>
		{% for section in sections %}

			<li>
				<a href="/section/{{ section.id }}">{{ section.titre }}</a>
			</li>


		{% endfor %}
	</ul>
	{% if is_granted('ROLE_USER') %}
		<a href="{{ path('app_formation_index') }}">Retour aux formations</a><br><br>
	{% endif %}

	{% if is_granted('ROLE_INSTRUCTEUR') %}
		<p>
			<a href="{{ path('app_formation_edit', {'id': formation.id}) }}">Modifier</a>
		</p>
	{% endif %}
{% endblock %}
