{% if is_granted('ROLE_INSTRUCTEUR') %}
	{{ form_start(form) }}
	{{ form_label(form.titre) }}<br>
	{{ form_widget(form.titre) }}<br>
	<br><br>Vos formations :
	<select class="form-select" name="section[formation]" aria-label="Formations">
		{% if formation is defined %}
			<option value="{{ formation.id }}">
				{{ formation.titre }}
			</option>
		{% elseif formations is defined %}
			{% for formation in formations %}
				<option value="{{ formation.id }}">
					{{ formation.titre }}
				</option>
			{% endfor %}
		{% else %}
			{% for formation in app.user.formationsAuteur %}
				<option value="{{ formation.id }}">
					{{ formation.titre }}
				</option>
			{% endfor %}
		{% endif %}
	</select>

	<br><br>
	<input type="hidden" id="step" name="step" value="2"/>
	<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button><br>
	{{ form_widget(form._token) }}<br>
	{{ form_end(form, {render_rest: false}) }}
{% endif %}
