{% if is_granted('ROLE_INSTRUCTEUR') %}
	{{ form_start(form) }}
	{{ form_label(form.titre) }}<br>
	{{ form_widget(form.titre) }}<br>
	<br><br>Vos formations : 
	<select class="form-select" aria-label="Formations">
    {% for formation in formations %}
		<option value="{{ formation.id }}">
			{{ formation.titre }}
		</option>
		{% endfor %}
	</select>

	<br><br>
	<input type="hidden" id="step" name="step" value="2"/>
	<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button><br>
	{{ form_widget(form._token) }}<br>
	{{ form_end(form, {render_rest: false}) }}
{% endif %}
