{% extends 'index.html.twig' %}
{% block main %}
	<h1>Sections</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Section</th>
				<th>Formation</th>
				{% if is_granted('ROLE_INSTRUCTEUR') %}
					<th>Action</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for section in app.user.sections %}
				<tr>
					<td>{{ section.titre }}</td>
					<td>{{ section.formation }}</td>
					<td>
						{% if is_granted('ROLE_INSTRUCTEUR') %}
							<a href="{{ path('app_section_show', {'id': section.id}) }}">Voir</a>
							<a href="{{ path('app_section_edit', {'id': section.id}) }}">Modifier</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_section_new') }}">Créer une nouvelle section</a>
{% endblock %}
