<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Le vrai web3 :Un web écolo, un meilleur web, pour un meilleur monde"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="author" content="heavnz0r"/>
		<meta name="copyright" content="Waldganger&trade;"/>
		<meta name="robots" content="index, follow, location"/>
		<meta http-equiv="cache-control" content="no-cache"/>
		<meta name="keywords" content="web3, web écolo, certification waldganger, meilleur web, meilleur monde, développement informatique vert, bilan environnemental de votre site web"/>
		<title>Waldganger : Le vrai web3 | Développement informatique écologique</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<div class="container-fluid border border-light">
				<nav class="navbar navbar-expand-lg navbar-light bg-black">
					<a class="navbar-brand ps-2 pb-2" href="/">
						<img src="{{ asset('build/images/logo.png') }}" height="110em" width="auto" alt="ecoIT : Un meilleur web, un meilleur monde." title="ecoIT : Un meilleur web, un meilleur monde."></a>
					<div class="container">
						<button class="navbar-toggler" title="Menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarText">
							<br>
							<ul class="navbar-nav">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Waldganger
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
										<li>
											<a class="dropdown-item" href="#">L'organisation</a>
										</li>

										<li>
											<a class="dropdown-item" href="#">Certification</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Dons</a>
										</li>
									</ul>
								</li>
								{% if is_granted('ROLE_INSTRUCTEUR') %}
									<ul class="navbar-nav">
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												Formations
											</a>
											<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
												<li>
													<a class="dropdown-item" href="/formation">Catalogue</a>
												</li>
												<li>
													<a class="dropdown-item" href="/formation/new?step=0">Nouvelle formation</a>
												</li>
												<li>
													<a class="dropdown-item" href="mailto:webmaster@waldganger.net?subject=Explication : Supprimer une formation - Instructeur : {{ app.user.prenom }} {{ app.user.nom }}" onclick="window.alert('Envoyez nous un mail afin de nous en expliquer les raisons avant de la modifier/supprimer, car celle-ci est probablement déjà suivi par des apprenants')">Modifier/Supprimer</a>
												</li>
											</ul>
										</li>
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												Sections
											</a>

											<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
												<li>
													<a class="dropdown-item" href="/section">Catalogue</a>
												</li>

												<li>
													<a class="dropdown-item" href="/section/new">Nouvelle section</a>
												</li>
												<li>
													<a class="dropdown-item" href="/section">Modifier/supprimer</a>
												</li>
											</ul>
										</li>
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												Cours
											</a>

											<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
												<li>
													<a class="dropdown-item" href="/cours">Catalogue</a>
												</li>
												<li>
													<a class="dropdown-item" href="/cours/new">Nouveau cours</a>
												</li>
												<li>
													<a class="dropdown-item" href="/cours">Modifier/supprimer</a>
												</li>
											</ul>
										</li>
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												Quizz
											</a>
											<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
												<li>
													<a class="dropdown-item" href="/quizz">Catalogue</a>
												</li>
												<li>
													<a class="dropdown-item" href="/quizz/new">Nouveau quizz</a>
												</li>
												<li>
													<a class="dropdown-item" href="/quizz">Modifier/supprimer</a>
												</li>
											</ul>
										</li>
									</ul>
								{% else %}
									<li class="nav-item">
										<a class="nav-link" href="/formation/">Formations</a>
									</li>
								{% endif %}
								{% if is_granted('ROLE_INSTRUCTEUR') %}
									{% else %}
										<li class="nav-item">
											<a class="nav-link" href="/registration/postulant">Devenir formateur</a>
										</li>
								{% endif %}
								{% if app.user is defined %}
									{% if app.user.roles is defined %}
										<li class="nav-item">

											<a class="nav-link" href="/logout">Déconnexion</a>

										</li>
									{% else %}
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												Espace membres
											</a>
											<ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="border:1px solid white; background-color: black">
												<li>
													<a class="dropdown-item" href="/login">Connexion</a>
												</li>
												<li>
													<a class="dropdown-item" href="/registration/register">Inscription</a>
												</li>
											</ul>
										</li>
									{% endif %}
								{% endif %}
							</ul>
						</div>
					</div>
				</nav>
			</div>
			<header class="text-center text-white masthead" style="background:url(&quot;{{ asset(img) }}&quot;)no-repeat center center;background-size:cover;">
				<div class="overlay"></div>
				<div class="container ">
					<div class="row">
						<div class="col-xl-9 mx-auto position-relative d-flex justify-content-center">
							<h1 class="mb-5">
								<strong>
									{{ slogan }}
								</strong>
							</h1>
						</div>
						<span>Waldganger&trade;</span>
					</div>
				</div>
			</header>

			<div class='container-fluid border border-light  '>
				<div class='container text-center  justify-content-center mx-auto px-auto my-3 '>
					{% block main %}
						{% for success in app.flashes('success') %}
							<div class="alert alert-success">
								{{ success }}
							</div>
						{% endfor %}
						{% for error in app.flashes('error') %}
							<div class="alert alert-error">
								{{ error }}
							</div>
						{% endfor %}
						<section class="text-center bg-black features-icons">
							{% for formation in formations %}
								<div class="row">
									<div class="col-lg-4">
										<div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
											<div class="d-flex features-icons-icon">
												<img src='public/uploads/photos/' asset("{{formation.image}}")>
											</div>
											<h3>{{formation.titre}}</h3>
											<p class="lead mb-0">{{formation.description}}</p>
											<br>
											{% if is_granted('ROLE_USER') %}
												{% set lien = '/formation/index' %} {% else %} {% set lien = '/registration/register' %}
											{% endif %}
											<a href='{{ lien }}' class="btn btn-primary btn-lg" type="submit">En savoir plus</a>
										</div>
									</div>
								</div>
							{% endfor %}
						</section>
						<hr>
						<section class="text-center bg-black testimonials">
							<div class="container">
								<h2 class="mb-5">Nos partenaires</h2>
								<div class="row">
									<div class="col-lg-4">
										<div class="mx-auto testimonial-item mb-5 mb-lg-0">
											<img class="rounded-circle img-fluid mb-3" src="{{ asset('build/images/greenpeace.jpg') }}"></div>
										<p>
											<span style="font-size: larger;">
												<a href="https://www.greenpeace.org/" target='_blank'>Greenpeace : ONG</a>
											</span>
										</p>
									</div>
									<div class="col-lg-4">
										<div class="mx-auto testimonial-item mb-5 mb-lg-0">
											<img class="rounded-circle img-fluid mb-3" src="{{ asset('build/images/studi.jpg') }}"></div>
										<p>
											<span style="font-size: larger;">
												<a href="https://studi.fr" target="_blank">Studi : La grande école 100% en ligne, 100% humaine</a>
											</span>
										</p>
									</div>
									<div class="col-lg-4">
										<div class="mx-auto testimonial-item mb-5 mb-lg-0">
											<img class="rounded-circle img-fluid mb-3" src="{{ asset('build/images/cnrs.png') }}"></div>
										<p>
											<span style="font-size: larger;">
												<a href="https://www.cnrs.fr/fr/page-daccueil" target='_blank'>Centre national de la recherche scientifique</a>
											</span>
										</p>
									</div>
								</div>
							</div>
						</section>
					{% endblock %}
				</div>
			</div>
			<section class="text-center text-white call-to-action" style="background:url(&quot;{{ asset('build/img/bg-masthead2.png') }}&quot;) no-repeat center center;background-size:cover;">
				<div class="overlay"></div>
				<div class="container-fluid d-flex justify-content-center mx-auto">
					<div class="row">
						<div class="col-xl-9 mx-auto position-relative">
							<h2 class="mb-4">Intéressé par notre démarche ? Inscrivez vous à la newsletter !</h2>
						</div>
						<div class="col-md-6 col-lg-6 col-xl-6 mx-auto position-relative">
							<form>
								<div class="row">
									<div class="col d-flex justify-content-center mx-1">
										<input class="form-control form-control-lg" type="email" placeholder="Votre email..."></div>
									<div class="col-12 mt-4 mx-auto ">
										<button class="btn btn-primary btn-lg" type="submit">S'enregistrer</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
			<footer class="bg-black footer border border-light">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 text-center text-lg-start my-auto h-100">
							<ul class="list-inline mb-2">
								<li class="list-inline-item">
									<a href="#">About</a>
								</li>
								<li class="list-inline-item">
									<span>⋅</span>
								</li>
								<li class="list-inline-item">
									<a href="#">Contact</a>
								</li>
								<li class="list-inline-item">
									<span>⋅</span>
								</li>
								<li class="list-inline-item">
									<a href="#">Terms of &nbsp;Use</a>
								</li>
								<li class="list-inline-item">
									<span>⋅</span>
								</li>
								<li class="list-inline-item">
									<a href="#">Privacy Policy</a>
								</li>
							</ul>
							<p class="text-muted small mb-4 mb-lg-0">
								© WALDGANGER.NET by heavnz0r - 2022. All Rights Reserved.</p>
						</div>
						<div class="col-lg-6 text-center text-lg-end my-auto h-100">
							<ul class="list-inline mb-0">
								<li class="list-inline-item">
									<a href="#">
										<img class='icons' src='{{ asset("build/images/icons8-twitter.png")}}'>
									</a>
								</li>

								<li class="list-inline-item">
									<a href="#">
										<img class='icons' src='{{ asset("build/images/icons8-facebook.png")}}'>
									</a>
								</li>

								<li class="list-inline-item">
									<a href="#">
										<img class='icons' src='{{ asset("build/images/icons8-instagram_old.png")}}'>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		{% endblock %}
	</body>
</html></body></html>
