{% if is_granted('ROLE_INSTRUCTEUR') %}
	{{ form_start(form) }}
	<br><br>
	<select class="" name="cours[section]" aria-label="Sections">
		{% for section in sections %}
			<option value="{{ section.id }}">Section :
				{{ section.titre }}
				- Formation :
				{{ section.formation.titre }}
			</option>
		{% endfor %}
	</select><br><br>{{ form_label(form.titre, 'Titre du cours :') }}<br>

	{{ form_widget(form.titre) }}<br><br>
	{{ form_label(form.cours, 'Contenu du cours :') }}<br>
	<textarea id="cours_cours" name="cours[cours]" required="required" data-dashlane-rid="ee4a94331ebb3b19" data-form-type="other" style="width: 80%;padding-bottom: 15em;">Vous avez la possibilité de mettre en forme votre texte avec du code HTML combiné à du CSS. Tout abus sera sévèrement sanctionné (injection de javascript par exemple ou tout élément indésirable de manière général). Si vous ne savez pas coder en HTML/CSS, vous pouvez toujours trouver un traducteur de code tel que Dreamweaver</textarea><br><br>

	{{ form_label(form.image, 'Image (si nécessaire) :') }}<br>
	{{ form_widget(form.image) }}<br><br>
	{{ form_label(form.pdf, 'Fichier PDF (si nécessaire) :') }}<br>
	{{ form_widget(form.pdf) }}<br><br>
	{{ form_label(form.video, 'URL de la vidéo Youtube (obligatoire) :') }}<br>
	{{ form_widget(form.video) }}<br><br>
	<input type="hidden" id="step" name="step" value="3"/>
	<button class="btn btn-primary" type="submit">Soumettre</button>
	{{ form_widget(form._token) }}{{ form_end(form, {render_rest: false}) }}
{% endif %}
