{% extends 'index.html.twig' %}
{% block main %}
	<h1>Catalogue des cours</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Cours</th>
				<th>Image</th>
				<th>Pdf</th>
				<th>Video</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for cour in cours %}
				<tr>
					<td>{{ cour.id }}</td>
					<td>{{ cour.cours }}</td>
					{% if cour.image is not same as(null) %}
						<td><img class='imgFormation' src="{{ asset('build/uploads/photos/')}}{{ cour.image }}"></td>
					{% endif %}
					<td>
						<a href="{{ asset('build/uploads/photos/') }}" {{ cour.pdf }} target="_blank"></td>
					</td>
					<td>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ cour.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</td>
					<td>
						<a href="{{ path('app_cours_show', {'id': cour.id}) }}">Voir</a>
						<a href="{{ path('app_cours_edit', {'id': cour.id}) }}">Modifier/supprimer</a>

					</td>

				</tr>
			{% else %}
				<tr>
					<td colspan="7">Aucun cours trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
