{% extends 'index.html.twig' %}
{% block main %}
	<table class="table">
		<tbody>
			{% for cour in cours %}
				<tr>
					<h2>{{ cour.titre }}</h2>
				</tr>
				<tr>
					<p>
						{% if cour.image is not same as(null) %}<img class="mx-auto imgFormation" src="{{ asset('build/uploads/photos/') }}{{ cour.image }}">
						{% endif %}
						{{ cour.cours|raw }}

					</p>


					<br>
				</tr>
				<tr>
					{% if cour.pdf is not same as(null) %}
						<span class="fs-4 mx-2">
							<a class="px-3" href="{{ asset('build/uploads/photos/') }}{{ cour.pdf }}">{{ cour.pdf }}</a>
							&#127385;</span>
					{% endif %}<br>
				</tr>
				<tr>


					<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/{{ cour.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

				</tr>
				<tr>
					<a href='{{ path('app_section_show', {'id': cour.section.id}) }}'>Retour</a>
				</tr>
				<tr>

					<br><a href="{{ path('app_cours_show', {'id': cour.id}) }}">Voir</a><br>
					<a href="{{ path('app_cours_edit', {'id': cour.id}) }}">Modifier/supprimer</a>
				</tr>
				<hr>

				{% else %}
					<tr>
						<td colspan="7">Aucun cour trouvé</td>
					</tr>
			{% endfor %}
		</tbody>
	</tbody>
</table>{% endblock %}
