<!DOCTYPE html>

<title>Cours index</title>

{% block body %}
    <h1>Cours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cours</th>
                <th>Image</th>
                <th>Pdf</th>
                <th>Video</th>
                <th>Finished</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.id }}</td>
                <td>{{ cour.cours }}</td>
                <td>{{ cour.image }}</td>
                <td>{{ cour.pdf }}</td>
                <td>{{ cour.video }}</td>
                <td>{{ cour.finished ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_cours_show', {'id': cour.id}) }}">show</a>
                    <a href="{{ path('app_cours_edit', {'id': cour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cours_new') }}">Create new</a>
{% endblock %}
