{% extends 'index.html.twig' %}
{% block main %}
	<table class="table">
		<tbody>
			<tr>
				<h1>{{ cours.titre }}</h1>
			</tr>
			<tr>
				<p>{{ cours.cours|raw }}</p>
			</tr>
			<tr>
				{% if cours.image is not same as(null) %}
					<img class="imgCours" src="{{ asset('build/uploads/photos/') }}{{ cours.image }}">
				{% endif %}
			</tr>
			<tr>
				{% if cours.pdf is not same as(null) %}
					<a href="{{ asset('build/uploads/photos/') }}{{ cours.pdf }}">{{ cours.pdf }}</a>
				{% endif %}
			</tr>
			<tr>


				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ cours.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			</tr>
			<tr>
				<p>Leçon terminée ?<br>
					{% if coursProgress == 2 %}
						<a href='/cours/{{ cours.id }}?f=1'>Oui</a>
					{% elseif coursProgress == 1 %}
						Oui
					{% endif %}
				</p>
			</tr>
			<tr>
			<a href='javascript:history.back()'>Retour</a></tr>
		</tbody>
	</table>
{% endblock %}
