<h1>
	{% if postulant is same as(true) %}
		Postuler en tant qu'instructeur
	{% else %}
		Inscription
	{% endif %}
</h1>
{% if is_granted('ROLE_INSTRUCTEUR') and postulant is same as(true) %}
	<br>Vous êtes déjà formateur.
	{% if is_granted('ROLE_USER') and app.user.isPostulant is same as (true) %}
		<br>Votre demande est en cours d'étude.
	{% else %}
		{% if not is_granted('ROLE_USER') and postulant is same as (false) %}
			{{ form_start(registrationForm) }}
			{{ form_label(registrationForm.email, 'E-mail') }}
			<br>{{ form_widget(registrationForm.email) }}<br>
			{{ form_label(registrationForm.password, 'Password') }}<br>
			{{ form_widget(registrationForm.password) }}<br>
			{{ form_label(registrationForm.pseudo, 'Pseudo') }}<br>
			{{ form_widget(registrationForm.pseudo) }}<br>
			{{ form_row(registrationForm._token) }}
			<button class="btn btn-primary" type="submit">Soumettre</button>
			{{ form_end(registrationForm, {render_rest: false}) }}
		{% endif %}
		{% if not is_granted('ROLE_USER') and postulant is same as(true) %}
			{{ form_start(registrationForm) }}
			{{ form_label(registrationForm.email, 'E-mail') }}
			<br>{{ form_widget(registrationForm.email) }}<br>
			{{ form_label(registrationForm.password, 'Password') }}<br>
			{{ form_widget(registrationForm.password) }}<br>
			{{ form_label(registrationForm.nom, 'Nom') }}<br>
			{{ form_widget(registrationForm.nom) }}<br>
			{{ form_label(registrationForm.prenom, 'Prénom') }}<br>
			{{ form_widget(registrationForm.prenom) }}<br>
			{{ form_label(registrationForm.description, 'Décrivez-vous en quelques lignes') }}<br>
			{{ form_widget(registrationForm.description) }}<br>
			{{ form_label(registrationForm.photo, 'Photo') }}<br>
			{{ form_widget(registrationForm.photo) }}<br>
			{{ form_row(registrationForm._token) }}
			<button class="btn btn-primary" type="submit">Soumettre</button>
			{{ form_end(registrationForm, {render_rest: false}) }}
		{% elseif is_granted('ROLE_USER') and postulant is same as(true)%}
			{{ form_start(registrationForm) }}
			<input type="hidden" name="registrationForm[email]" value="app.user.email"/>
			<input type="hidden" name="registrationForm[password]" value="app.user.password"/>
			{{ form_label(registrationForm.nom, 'Nom') }}<br>
			{{ form_widget(registrationForm.nom) }}<br>
			{{ form_label(registrationForm.prenom, 'Prénom') }}<br>
			{{ form_widget(registrationForm.prenom) }}<br>
			{{ form_label(registrationForm.description, 'Décrivez-vous en quelques lignes') }}<br>
			{{ form_widget(registrationForm.description) }}<br>
			{{ form_label(registrationForm.photo, 'Photo') }}<br>
			{{ form_widget(registrationForm.photo) }}<br>
			{{ form_row(registrationForm._token) }}
			<button class="btn btn-primary" type="submit">Soumettre</button>
			{{ form_end(registrationForm, {render_rest: false}) }}
		{% endif %}
	{% endif %}
{% endif %}


<br>
