<h1>
	{% if postulant is same as(true) %}Postuler en tant qu'instructeur
	{% else %}
		Inscription
	{% endif %}
</h1>

{% if is_granted('ROLE_INSTRUCTEUR') %}
	Veuillez vous déconnecter afin de faire une nouvelle demande
{% else %}


	{% if app.user is same as(null) %} {{ form_start(registrationForm) }} {{ form_label(registrationForm.email, 'E-mail') }}
		<br>{{ form_widget(registrationForm.email) }}<br> {{ form_label(registrationForm.password, 'Password') }}<br> {{ form_widget(registrationForm.password) }}<br>
		{% if postulant is same as(false) %}
			<div> {{ form_label(registrationForm.pseudo, 'Pseudo') }}<br> {{ form_widget(registrationForm.pseudo) }}<br> {{ form_row(registrationForm._token) }}
				<button class="btn btn-primary" type="submit">Soumettre</button> {{ form_end(registrationForm, {render_rest: false}) }}
			{% endif %}
		{% endif %}
		{% if postulant is same as(true) %} {{ form_start(registrationForm) }}
			{% if is_granted('ROLE_USER') %} {{ form_widget(app.user.email, {'attr': {'class': 'hidden' }}) }} {{ form_widget(app.user.password, {'attr': {'class': 'hidden' }}) }}
			{% endif %} {{ form_label(registrationForm.nom, 'Nom') }}<br> {{ form_widget(registrationForm.nom) }}<br> {{ form_label(registrationForm.prenom, 'Prénom') }}<br> {{ form_widget(registrationForm.prenom) }}<br> {{ form_label(registrationForm.description, 'Description') }}<br> {{ form_widget(registrationForm.description) }}<br> {{ form_label(registrationForm.photo, 'Photo') }}<br> {{ form_widget(registrationForm.photo) }}<br> {{ form_row(registrationForm._token) }}
			<button class="btn btn-primary" type="submit">Soumettre</button> {{ form_end(registrationForm, {render_rest: false}) }}
		{% endif %}
	{% endif %}

	<br>
