{{ form_start(form) }}
<input type="hidden" id="step" name="step" value="4"/>
Vos sections :
<select class="form-select" name="form[section]" aria-label="Sections">
	{% for section in sections %}
		<option value="{{ section.id }}">
			{{ section.titre }}
		</option>
	{% endfor %}
</select>
<h1>Création d'un nouveau Quizz</h1><br><br>

{{ form_label(form.question, 'Question') }}
<br>
{{ form_widget(form.question) }}<br>
{{ form_label(form.reponse1, 'Réponse 1') }}<br>{{ form_widget(form.reponse1) }}
<br>{{ form_label(form.reponse2, 'Réponse 2') }}<br>{{ form_widget(form.reponse2) }}
<br>{{ form_label(form.reponse3, 'Réponse 3') }}<br>{{ form_widget(form.reponse3) }}<br><br>

<br>{{ form_label(form.bonnereponse, 'Bonne réponse') }}<br>{{ form_widget(form.bonnereponse) }}<br><br>

<button class="btn btn-primary" type="submit">Soumettre</button>
{{ form_widget(form._token) }}{{ form_end(form, {render_rest: false}) }}
