{% extends 'index.html.twig' %}
{% block main %}
	{% if is_granted('ROLE_INSTRUCTEUR') %}
		<h2>Quizz</h2>
		{% endif %}
		<table class="table">
			<thead>
				<tr>
					<th>Question 1</th>
					<th>Reponse 1</th>
					<th>Reponse 2</th>
					<th>Question 2</th>
					<th>Reponse 1</th>
					<th>Reponse 2</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for quizz in quizzs %}
					<tr>
						<td>{{ quizz.question1 }}</td>
						<td>{{ quizz.reponse1 }}</td>
						<td>{{ quizz.reponse2 }}</td>
						<td>{{ quizz.question2 }}</td>
						<td>{{ quizz.reponse3 }}</td>
						<td>{{ quizz.reponse4 }}</td>
						<td>
							<a href="{{ path('app_quizz_show', {'id': quizz.id}) }}">Voir</a> - 
							<a href="{{ path('app_quizz_edit', {'id': quizz.id}) }}">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">Aucun quizz trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_quizz_new') }}">Créer un nouveau quizz</a>
	{% endblock %}
